<div class="tabbable recipe-admin-tabs">
  <ul class="nav nav-tabs recipe-nav-tabs">
    <li class="active">
      <a href="#keyword_alias" data-toggle="tab"><%= I18n.t("admin.keyword_alias.tabs.keyword_alias") %></a>
    </li>
  </ul>

  <div class="tab-content recipe-admin-tab-content">
    <div class="tab-pane active" id="keyword_alias">
      <div class="recipe-tab-content">
        <%= form_for @keyword_alias do |form_object| %>
          <%= page_title_field %>

          <%= form_object.label(:keyword) %>
          <%= form_object.scroll_picker(:keyword, :keyword_id) %>

          <%= form_object.label(:alias) %>
          <%= form_object.text_field :alias %>

          <br />
          <%= form_object.submit(I18n.t("scrolling_list.save"), class: "btn btn-primary") %>
          <% if (@keyword_alias.id) %>
            <%= render partial: "scrollable_list/delete_confirmation_dialog", layout: false %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>