<% require "scrolling_list_form_helper" %>

<div class="tabbable recipe-admin-tabs">
  <ul class="nav nav-tabs recipe-nav-tabs">
    <li class="active">
      <a href="#ingredient_alias" data-toggle="tab"><%= I18n.t("admin.ingredient_alias.tabs.ingredient_alias") %></a>
    </li>
  </ul>

  <div class="tab-content recipe-admin-tab-content">
    <div class="tab-pane active" id="ingredient_alias">
      <div class="recipe-tab-content">
        <%= form_for @ingredient_alias do |form_object| %>
          <input type="hidden" id="<%= @model_class_name.to_s.singularize.underscore %>-title" value="<%= I18n.t("admin.#{@model_class_name.to_s.singularize.underscore}.title", unit_type: @model_class_name.to_s.singularize.underscore.humanize.titleize, unit_name: @selected_item.alias) %>" />

          <%= form_object.label(:ingredient) %>
          <%= form_object.scroll_picker(self, :ingredient, :ingredient_id) %>

          <%= form_object.label(:alias) %>
          <%= form_object.text_field :alias %>

          <br />
          <%= form_object.submit(I18n.t("scrolling_list.save"), class: "btn btn-primary") %>
          <% if (@ingredient_alias.id) %>
            <%= render partial: "scrollable_list/delete_confirmation_dialog", layout: false %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>