.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.recipe.tabs.recipe"), "#view", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.recipe.tabs.free_form"), "#free-form", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.recipe.tabs.edit"), "#recipe", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.recipe.tabs.aliases"), "#aliases", data: { toggle: "tab" }

  = page_title_field

  .tab-content.recipe-admin-tab-content
    #view.tab-pane.active
      .recipe-tab-content
        = render partial: "view", layout: false, locals: { show_item: @recipe }

    #recipe.tab-pane
      .recipe-tab-content
        = render partial: "edit", layout: false

    #free-form.tab-pane
      .recipe-tab-content
        = render partial: "free_form", layout: false

    #aliases.tab-pane
      = tab_content @recipe, :search_aliases