.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.prep_order.tabs.prep_order"), "#prep_order", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.prep_order.tabs.aliases"), "#aliases", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.prep_order.tabs.recipes"), "#recipes", data: { toggle: "tab" }

  .tab-content.recipe-admin-tab-content
    #prep_order.tab-pane.active
      .recipe-tab-content
        = render partial: "prep_order", layout: false

    #aliases.tab-pane
      = tab_content @prep_order, :search_aliases

    #recipes.tab-pane
      = tab_content @prep_order, :recipes