.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.container.tabs.container"), "#container", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.container.tabs.aliases"), "#aliases", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.container.tabs.recipes"), "#recipes", data: { toggle: "tab" }

  .tab-content.recipe-admin-tab-content
    #container.tab-pane.active
      .recipe-tab-content
        = render partial: "container", layout: false

    #aliases.tab-pane
      = tab_content @container, :search_aliases

    #recipes.tab-pane
      .recipe-tab-content
        The recipes for the container
        %br