<div class="tabbable recipe-admin-tabs">
  <ul class="nav nav-tabs recipe-nav-tabs">
    <li class="active">
      <a href="#container" data-toggle="tab"><%= I18n.t("admin.container.tabs.container") %></a>
    </li>
    <li>
      <a href="#recipes" data-toggle="tab"><%= I18n.t("admin.container.tabs.recipes") %></a>
    </li>
  </ul>

  <div class="tab-content recipe-admin-tab-content">
    <div class="tab-pane active" id="container">
      <div class="recipe-tab-content">
        <%= form_for @container do |form_object| %>
          <%= page_title_field %>

          <%= form_object.label(:name) %>
          <%= form_object.text_field :name %>

          <br />
          <%= form_object.submit(I18n.t("scrolling_list.save"), class: "btn btn-primary") %>
          <% if (@container.id) %>
            <%= render partial: "scrollable_list/delete_confirmation_dialog", layout: false %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="recipes">
      <div class="recipe-tab-content">
        The recipes for the container<br>
      </div>
    </div>
  </div>
</div>