.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.container.tabs.container"), "#container", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.container.tabs.aliases"), "#aliases", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.container.tabs.recipes"), "#recipes", data: { toggle: "tab" }

  .tab-content.recipe-admin-tab-content
    #container.tab-pane.active
      .recipe-tab-content
        = render partial: "container", layout: false

    #aliases.tab-pane
      .recipe-tab-content
        - if @container.search_aliases.first
          = render(partial: "full_page",
          layout: "scrollable_list/scrolling_list",
          locals: { scroll_list_class: "scrolling-list-related",
          model_class:                 SearchAlias,
          list_item:                   @container.search_aliases.first,
          list_page:                   @container.search_aliases.index_sort.page(1),
          list_params:                 { page: 1 },
          show_path:                   "search_aliases/tab_show",
          list_content_name:           :search_alias_scroll_list,
          item_content_name:           :search_alias_item,
          list_parent_object:          @container,
          list_parent_relationship:    :search_aliases })
        -else
          No Aliases
          %br/

    #recipes.tab-pane
      .recipe-tab-content
        The recipes for the container
        %br