<div class="container-fluid recipe-simple-container">
  <div class="row-fluid">
    <div class="span3">
      <div class="well">
        <div id="scroll-<%= @_controller.controller_name %>" class="scrolling-list">
          <ul class="scrolling-list-content nav nav-list">
            <%= content_for :scroll_list %>
          </ul>
        </div>
      </div>
      <div class="scrolling-list-new-link">
        <%= link_to("New #{@_controller.controller_name.humanize()}", eval("new_#{@_controller.controller_name.singularize()}_path")) %>
      </div>
    </div>
    <div id="scroll-content-<%= @_controller.controller_name %>" class="span9 scrolling-content">
      <%= content_for :first_item %>
    </div>
  </div>
</div>