<div class="tabbable measuring-unit-tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#measuring_unit" data-toggle="tab">Measuring Unit</a>
    </li>
    <li>
      <a href="#aliases" data-toggle="tab">Aliases</a>
    </li>
    <li>
      <a href="#conversions" data-toggle="tab">Conversions</a>
    </li>
    <li>
      <a href="#ingredients" data-toggle="tab">Ingredients</a>
    </li>
  </ul>

  <div class="tab-content measuring-unit-tab-content">
    <div class="tab-pane active" id="measuring_unit">
      <div class="recipe-tab-content">
        <%= form_for @measuring_unit do | form_object |  %>
          <%= form_object.hidden_field(:title, value: "Recipes | Measuring Units - #{@measuring_unit.name}") %>

          <%= form_object.label :name %>
          <%= form_object.text_field :name %>

          <label class="checkbox">
            <input type="checkbox" value="<%= @measuring_unit.abreviation %>"<%= " checked" if (@measuring_unit.has_abreviation?) %>>
            Show a default abbreviation
          </label>
          <%= form_object.label :abreviation %>
          <%= form_object.text_field(:abreviation, disabled: !@measuring_unit.has_abreviation?) %>

          <br />
          <%= form_object.submit("Save") %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="aliases">
      <div class="recipe-tab-content">
        The aliases page<br>
      </div>
    </div>

    <div class="tab-pane" id="conversions">
      <div class="recipe-tab-content">
        The conversions page<br>
      </div>
    </div>

    <div class="tab-pane" id="ingredients">
      <div class="recipe-tab-content">
        The ingredients page<br>
      </div>
    </div>
  </div>
</div>