.tabbable.recipe-admin-tabs
  %ul.nav.nav-tabs.recipe-nav-tabs
    %li.active
      = link_to I18n.t("admin.measuring_unit.tabs.measuring_unit"), "#measuring_unit", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.measuring_unit.tabs.aliases"), "#aliases", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.measuring_unit.tabs.larger_conversions"), "#larger_conversions", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.measuring_unit.tabs.smaller_conversions"), "#smaller_conversions", data: { toggle: "tab" }
    %li
      = link_to I18n.t("admin.measuring_unit.tabs.ingredients"), "#ingredients", data: { toggle: "tab" }

  .tab-content.recipe-admin-tab-content
    #measuring_unit.tab-pane.active
      .recipe-tab-content
        = render partial: "measuring_unit", layout: false

    #aliases.tab-pane
      = tab_content @measuring_unit, :search_aliases

    #larger_conversions.tab-pane
      = tab_content @measuring_unit, :larger_measurement_conversions, model_class: MeasurementConversion

    #smaller_conversions.tab-pane
      = tab_content @measuring_unit, :smaller_measurement_conversions, model_class: MeasurementConversion

    #ingredients.tab-pane
      = tab_content @measuring_unit, :ingredients