<div class="tabbable measuring-unit-tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#measuring_unit" data-toggle="tab">Measuring Unit</a>
    </li>
    <li>
      <a href="#aliases" data-toggle="tab">Aliases</a>
    </li>
    <li>
      <a href="#conversions" data-toggle="tab">Conversions</a>
    </li>
    <li>
      <a href="#ingredients" data-toggle="tab">Ingredients</a>
    </li>
  </ul>

  <div class="tab-content measuring-unit-tab-content">
    <div class="tab-pane active" id="measuring_unit">
      <div class="recipe-tab-content">
        <%= form_for @measuring_unit do |form_object| %>
          <input type="hidden" id="measuring_unit-title" value="Recipes | Measuring Units - <%= @measuring_unit.name %>" />

          <%= form_object.label :name %>
          <%= form_object.text_field :name %>

          <label class="checkbox">
            <%= form_object.check_box(:has_abbreviation, value: @measuring_unit.has_abbreviation, class: "measuring-unit-has-abbreviation") %>
            Show a default abbreviation
          </label>
          <%= form_object.label :abbreviation %>
          <%= form_object.text_field(:abbreviation, disabled: !@measuring_unit.has_abbreviation?, class: "measuring-unit-abbreviation") %>

          <br />
          <%= form_object.submit("Save", class: "btn btn-primary") %>
          <%= link_to("Delete", @measuring_unit, class: "btn btn-danger", method: :delete, id: "delete-recipe") %>

          <div id="confirm-delete-dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labeledby="confirm-delete-title" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
              <h3 id="confirm-delete-title">Delete Measuring Unit <%= @measuring_unit.name %></h3>
            </div>
            <div class="modal-body">
              <p>
                Are you sure that you want to delete the Measuring Unit <%= @measuring_unit.name %>?
              </p>
            </div>
            <div class="modal-footer">
              <button id="confirm-delete" class="btn btn-danger" aria-hidden="true">Yes</button>
              <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="aliases">
      <div class="recipe-tab-content">
        The aliases page<br>
      </div>
    </div>

    <div class="tab-pane" id="conversions">
      <div class="recipe-tab-content">
        The conversions page<br>
      </div>
    </div>

    <div class="tab-pane" id="ingredients">
      <div class="recipe-tab-content">
        The ingredients page<br>
      </div>
    </div>
  </div>
</div>