<div class="tabbable recipe-admin-tabs">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#measuring_unit" data-toggle="tab"><%= I18n.t("admin.measuring_unit.tabs.measuring_unit") %></a>
    </li>
    <li>
      <a href="#aliases" data-toggle="tab"><%= I18n.t("admin.measuring_unit.tabs.aliases") %></a>
    </li>
    <li>
      <a href="#conversions" data-toggle="tab"><%= I18n.t("admin.measuring_unit.tabs.conversions") %></a>
    </li>
    <li>
      <a href="#ingredients" data-toggle="tab"><%= I18n.t("admin.measuring_unit.tabs.ingredients") %></a>
    </li>
  </ul>

  <div class="tab-content recipe-admin-tab-content">
    <div class="tab-pane active" id="measuring_unit">
      <div class="recipe-tab-content">
        <%= form_for @measuring_unit do |form_object| %>
          <input type="hidden" id="<%= @model_class_name.to_s.singularize.underscore %>-title" value="<%= I18n.t("admin.#{@model_class_name.to_s.singularize.underscore}.title", unit_type: @model_class_name.to_s.singularize.underscore.humanize.titleize, unit_name: @selected_item.name) %>" />

          <%= form_object.label :name %>
          <%= form_object.text_field :name %>

          <label class="checkbox">
            <%= form_object.check_box(:has_abbreviation, value: @measuring_unit.has_abbreviation, class: "measuring-unit-has-abbreviation") %>
            <%= I18n.t("admin.measuring_unit.has_abbreviation") %>
          </label>
          <%= form_object.label :abbreviation %>
          <%= form_object.text_field(:abbreviation, disabled: !@measuring_unit.has_abbreviation?, class: "measuring-unit-abbreviation") %>

          <br />
          <%= form_object.submit(I18n.t("scrolling_list.save"), class: "btn btn-primary") %>
          <% if (@measuring_unit.id && @measuring_unit.can_delete) %>
            <%= render partial: "scrollable_list/delete_confirmation_dialog", layout: false %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="tab-pane" id="aliases">
      <div class="recipe-tab-content">
        The aliases page<br>
      </div>
    </div>

    <div class="tab-pane" id="conversions">
      <div class="recipe-tab-content">
        The conversions page<br>
      </div>
    </div>

    <div class="tab-pane" id="ingredients">
      <div class="recipe-tab-content">
        The ingredients page<br>
      </div>
    </div>
  </div>
</div>