- show_item = local_assigns[:show_item] unless show_item

= form_for show_item do |form_object|
  = page_title_field

  = form_object.label(:smaller_measuring_unit_id)
  = link_to(show_item.smaller_measuring_unit.name, show_item.smaller_measuring_unit, target: "_blank")

  = form_object.label(:larger_measuring_unit_id)
  = link_to(show_item.larger_measuring_unit.name, show_item.larger_measuring_unit, target: "_blank")

  = form_object.label(:multiplier)
  = show_item.multiplier